/* Catalog.css */

.Catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Catalog-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .Catalog-item h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .Catalog-item p {
    margin: 5px 0;
  }
  
  .Catalog-item p:first-of-type {
    font-weight: bold;
  }
  
  .Catalog-item p:last-of-type {
    margin-bottom: 0;
  }
  
  